<link rel="stylesheet" href="/css/navbar.css">
<div class="nav-main">
    <p class="navhead" >The Farm Buddy</p>
    <!-- <img class="nav-logo" src="/img/logo.jpg" alt="logo"> -->

    <div class="main-menu">
        <ul>
                <li id="nav-li"><a id="nav-a" href="/homedeal" data-text="Home">Home</a></li>
                <li id="nav-li"><a id="nav-a" href="/dprof" data-text="Profile">Profile</a></li>
                <li id="nav-li"><a id="nav-a" href="/products" data-text="Products">Products</a></li>
                <!-- <li id="nav-li"><a id="nav-a" href="/dorders" data-text="Orders">Orders</a></li> -->
                <li id="nav-li"><a id="nav-a" href="/dconnections" data-text="Connections">Connections</a></li>
                <li id="nav-li"><a id="nav-a" href="/logout" data-text="logout">logout</a></li>
                <!-- <li id="nav-li"><a id="nav-a" href="/chat" data-text="chat">Chat</a></li> -->
            </ul>

    </div>
</div>
