<link rel="stylesheet" href="/css/navbar.css">
<div class="nav-main">
    <p class="navhead" >The Farm Buddy</p>
    <!-- <img class="nav-logo" src="/img/logo.jpg" alt="logo"> -->

    <div class="main-menu">
        <ul>
                <li id="nav-li"><a id="nav-a" href="/home" data-text="Home">Home</a></li>
                <li id="nav-li"><a id="nav-a" href="/info" data-text="Info">Info</a></li>
                <li id="nav-li"><a id="nav-a" href="/docum" data-text="Documents">Documents</a></li>
                <li id="nav-li"><a id="nav-a" href="/media" data-text="Media">Media</a></li>
                <li id="nav-li"><a id="nav-a" href="/login" data-text="Login/Signup">Login/Signup</a></li>
                <li id="nav-li"><a id="nav-a" href="#contact" data-text="Contact">Contact</a></li>
                <!-- <li id="nav-li"><a id="nav-a" href="/chat" data-text="chat">Chat</a></li> -->
            </ul>

    </div>
</div>