<link rel="stylesheet" href="/css/navbar.css">
<div class="nav-main">
    <p class="navhead" >The Farm Buddy</p>
    <!-- <img class="nav-logo" src="/img/logo.jpg" alt="logo"> -->

    <div class="main-menu">
        <ul>
                <li id="nav-li"><a id="nav-a" href="/nhome" data-text="Home">Home</a></li>
                <li id="nav-li"><a id="nav-a" href="/nprof" data-text="Profile">Profile</a></li>
                <li id="nav-li"><a id="nav-a" href="/store" data-text="Store">Store</a></li>
                <!-- <li id="nav-li"><a id="nav-a" href="/norders" data-text="Orders">Orders</a></li> -->
                <li id="nav-li"><a id="nav-a" href="/nconnections" data-text="nConnections">Connections</a></li>
                <li id="nav-li"><a id="nav-a" href="/logout" data-text="logout">logout</a></li>
                <!-- <li id="nav-li"><a id="nav-a" href="/chat" data-text="chat">Chat</a></li> -->
            </ul>

    </div>
</div>