<!DOCTYPE html>
<html>
<head>
  <title>Agriculture in India</title>
  <link rel="stylesheet" href="/css/doc.css">
</head>
<body>
  <%- include("partials/navbar"); -%>
  <h1>AGRICULTURE CONTINGENCY PLAN</h1>
  <div class="state-container">
    <div class="state-card">
      <h2>A AND N ISLANDS</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/A%20AND%20N%20ISLANDS#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>ANDHRA PRADESH</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/ANDHRA%20PRADESH#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>ARUNACHAL PRADESH</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/ARUNACHAL%20PRADESH#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>ASSAM</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/ASSAM#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>Bihar</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/Bihar#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>CHHATTISGARH</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/CHHATTISGARH#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>GUJARAT</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/GUJARAT#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>HARYANA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/HARYANA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>HIMACHAL PRADESH</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/HIMACHAL%20PRADESH#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>JAMMU AND KASHMIR</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/JAMMU%20AND%20KASHMIR#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>JHARKHAND</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/JHARKHAND#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>KARNATAKA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/KARNATAKA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>KERALA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/KERALA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>MADHYA PRADESH</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/MADHYA%20PRADESH#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>MAHARASHTRA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/MAHARASHTRA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>MANIPUR</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/MANIPUR#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>MEGHALAYA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/MEGHALAYA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>MIZORAM</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/MIZORAM#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>NAGALAND</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/NAGALAND#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>ODISHA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/ODISHA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>PUNJAB</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/PUNJAB#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>RAJASTHAN</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/RAJASTHAN#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>SIKKIM</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/SIKKIM#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>TAMIL NADU</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/TAMIL%20NADU#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>  
    <div class="state-card">
      <h2>TELANGANA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/TELANGANA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>TRIPURA</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/TRIPURA#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>UTTAR PRADESH</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/UTTAR%20PRADESH#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>UTTARAKHAND</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/UTTARAKHAND#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
    <div class="state-card">
      <h2>WEST BENGAL</h2>
      <p>
        <a href="https://agricoop.nic.in/en/AgricultureContigencyPlan/WEST%20BENGAL#gsc.tab=0" target="_blank">click me</a>
      </p>
    </div>
  </div>
  <%- include("partials/footer"); -%>
</body>
</html>
